<div class="footer">
  <div class="footer-container">
    <p class="footer-item">Become a Seller</p>
    <p class="footer-item">Polices</p>
    <p class="footer-item">Terms and Conditions</p>
    <p class="footer-item">Help Center</p>
    <p class="footer-item">News</p>
    <p class="footer-item">Facebook</p>
    <p class="footer-item">YouTube</p>
    <p class="footer-item">Sitemap</p>
    <p class="footer-item">FAQ</p>
  </div>
  <div class="footer-mark">
    © 2025 E-commerce project
  </div>
</div>
