.clickable-icon {
  cursor: pointer;
  transition: transform 0.2s;
  font-size: 25px;
  margin: 5px;

  &:hover {
    transform: scale(1.2);
  }
  &.active-favorite {
    color: var(--primary-color);
  }
}

.button-container{
  width: 100%;
  display: flex;
  align-items: center;
}



