@if (popularProducts) {
  <ngb-carousel >
    <ng-template *ngFor="let product of popularProducts" ngbSlide>
      <div class="picsum-img-wrapper">
        <a class="link" routerLink="/details/{{product.id}}"> <img class="product-header-image" src="{{product.image}}" alt="Random first slide" /></a>
      </div>
      <div class="carousel-caption">
        <h3>{{product.name}}</h3>
        <p>{{product.description}}</p>
      </div>
    </ng-template>
  </ngb-carousel>
}
<div class="product-list-wrapper">
  <h1>Trendy Product</h1>
  <div class="row">
    <div class="col-sm-3" *ngFor="let item of trendyProducts">
      <div class="product-item">
        <a class="link" routerLink="/details/{{item.id}}"><img src="{{item.image}}" alt="product"></a>
        <div class="product-details">
          <h6 class="name-head">{{item.name}}</h6>
          <div class="product-price">
            <h6>Price: {{item.price}}</h6>
          </div>
          <div class="product-color">
            <h6>Color: {{item.color}}</h6>
          </div>
        </div>
        <div class="product-footer">
          <a class="link" routerLink="/details/{{item.id}}"> View Details</a>
          <button *ngIf="!removeCart" class="form-button" (click)="addToCart(item.id)">Add to Cart</button>
<!--          <button *ngIf="removeCart" class="form-button" (click)="removeFromCart(productData.id)">Delete from Cart</button>-->
        </div>
      </div>
    </div>
  </div>
</div>
