@if (popularProducts) {
  <ngb-carousel >
    <ng-template *ngFor="let product of popularProducts" ngbSlide>
      <div class="picsum-img-wrapper">
        <a class="link" routerLink="/details/{{product.id}}"> <img class="product-header-image" src="{{product.image}}" alt="Random first slide" /></a>
      </div>
      <div class="carousel-caption">
        <h3>{{product.name}}</h3>
        <p>{{product.description}}</p>
      </div>
    </ng-template>
  </ngb-carousel>
}
<div class="product-list-wrapper">
  <h2 class="m-3">Trendy Product</h2>
  <div class="row">
    <div class="row row-cols-5" >
      <div class="col" *ngFor="let item of trendyProducts">
      <div class="product-item">
        <div class="product-link" routerLink="/details/{{item.id}}">
        <img src="{{item.image}}" alt="product">
        <div class="product-details">
          <div class="product-det-cont">
            <h4 class="product-color" [style.background-color]="item.color"></h4>
            <h6 class="name-head truncate" >{{item.name}}</h6>
          </div>
          <div>
            <h2 style="color: green"><fa-icon [icon]="discountIcon" class="icon"></fa-icon>{{item.price}}$</h2>
          </div>
        </div>
        </div>
        <div class="product-footer">
          <div class="button-container" *ngIf="!removeCart[item.id]">
            <button class="form-button card-button" (click)="addToCart(item)"><fa-icon [icon]="shoppingIcon" class="icon-button"></fa-icon>Add to Cart</button>
          </div>
          <div class="button-container" *ngIf="removeCart[item.id]">
            <button class="form-button-delete card-button" (click)="removeFromCart(item)"><fa-icon [icon]="trashIcon" class="icon-button"></fa-icon>Delete from Cart</button>
          </div>
          <div>
            @if(isUserLoggedIn()){
              <fa-icon [icon]="isFavorite[item.id] ? favoritesIcon : notFavoritesIcon"
                       [ngClass]="{'active-favorite': isFavorite[item.id]}"
                       (click)="toggleFavorite(item)"
                       [title]="!isFavorite[item.id] ? 'add to favorite' : 'remove from favorite'"
                       class="clickable-icon">
              </fa-icon>
            } @else {
              <fa-icon [icon]="notFavoritesIcon"
                       (click)="requireLoginToAddFavorites()"
                       title="add to favorite"
                       class="clickable-icon">
              </fa-icon>
            }
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
