<div class="seller-home-container">
  <table class="seller-products-table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList">
        <td>
          <img [src]="product.image" alt="product image" class="seller-product-image" />
        </td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.category }}</td>
        <td>
          <button class="seller-action-btn" (click)="deleteProduct(product.id)"><fa-icon [icon]="icon" ></fa-icon></button>
          <a class="seller-action-btn" routerLink="/seller-update-product/{{product.id}}"><fa-icon [icon]="iconEdit" ></fa-icon></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
