<div class="my-orders-container">
  <h2 class="m-3">My Orders</h2>
  <table class="orders-table">
    <thead>
    <tr>
      <th>Order</th>
      <th>Order Id</th>
      <th>Price</th>
      <th>Status</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orderData">
      <td>
        <img class="order-img" src="https://avatars.mds.yandex.net/i?id=7c7ae6d004bea740fc064bbf4a080a95678ac6ec-13081656-images-thumbs&n=13" alt="">
      </td>
      <td>
        <span>#{{order.id}}</span>
      </td>
      <td>
        <span>{{order.totalPrice}}</span>
      </td>
      <td>
        <span>In Progress</span>
      </td>
      <td>
        <span>{{order.date | date}}</span>
      </td>
      <td>
<!--        <button class="order-action-btn" (click)="viewOrder(order.id)">View</button>-->
        <button class="form-button-delete" (click)="cancelOrder(order.id)">
          <fa-icon [icon]="trashIcon" class="icon-button"></fa-icon>Cancel Order
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
