<div class="cart-page">
  <div class="cart-items">
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartData">
          <td><img class="cart-img" src="{{item.image}}" alt=""></td>
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
          <td>{{item.quantity}}</td>
          <td *ngIf="item.quantity">{{item.quantity * item.price}}</td>
          <td><button class="form-button-delete" (click)="removeFromCart(item.id)"><fa-icon [icon]="trashIcon" class="icon-button"/>Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="cart-summary">
    <h3 class="summary-heading">Price Details</h3>
    <div class="price-row">
      <span>Price ({{cartData?.length || 0}} items)</span>
      <span>{{priceSummary.price}}</span>
    </div>
    <div class="price-row">
      <span>Delivery</span>
      <span>{{priceSummary.delivery}}</span>
    </div>
    <div class="price-row">
      <span>Tax</span>
      <span>{{priceSummary.tax}}</span>
    </div>
    <div class="price-row">
      <span>Discount</span>
      <span>{{priceSummary.discount}}</span>
    </div>
    <div class="price-row total">
      <span>Total</span>
      <span>{{priceSummary.total}}</span>
    </div>
    <button  class="w-100 form-button" (click)="checkout()"><fa-icon [icon]="checkoutIcon" class="icon-button"></fa-icon>Checkout</button>
  </div>
</div>
