<div class="checkout">
  <div class="user-auth">
  <div class="row">
    <div class="col-sm-7">
      <div class="login">
      <h1>Add shipping address</h1>
      <p class="message-p">{{orderMsg}}</p>
      <form #orderData="ngForm" class="common-form" (ngSubmit)="orderNow(orderData.value)">
        <input type="email"
               name="email"
               placeholder="Enter User Email"
               class="form-input"
               ngModel
               [ngStyle]="{'margin-bottom': (email.invalid && email.touched) ? '0' : '20px'}"
               #email="ngModel"
                appEmailValidation
               required
        >
        <div class="error-messages" *ngIf="email.invalid && email.touched">
          <small *ngIf="email.errors?.['required']">Email is required</small>
          <small *ngIf="email.errors?.['invalidEmail']">Please enter a valid email ex. "seller&#64;seller.com"</small>
        </div>
        <input type="text"
               name="address"
               placeholder="Enter User Address"
               [ngStyle]="{'margin-bottom': (address.invalid && address.touched) ? '0' : '20px'}"
               class="form-input"
               #address="ngModel"
               ngModel
               minlength="10"
               required
        >
        <div class="error-messages" *ngIf="address.invalid && address.touched">
          <small *ngIf="address.errors?.['required']">Email is required</small>
          <small *ngIf="address.errors?.['minlength']">Address must be more than 10 characters</small>
        </div>
        <input type="text"
               name="contact"
               placeholder="Enter User Contact data"
               class="form-input"
               ngModel
               #phone="ngModel"
               [ngStyle]="{'margin-bottom': (phone.invalid && phone.touched) ? '0' : '20px'}"
               appPhoneValidation
               required
        >
        <div class="error-messages" *ngIf="phone.invalid && phone.touched">
          <small *ngIf="phone.errors?.['required']">Phone number is required</small>
          <small *ngIf="phone.errors?.['invalidPhone']">Please enter a valid email ex. "+78005553535"</small>
        </div>
        <button [disabled]="orderData.invalid" class="form-button">Order Now</button>
      </form>
    </div>
    </div>
    <div class="col-sm-5">
      <div class="login">
        <h3>Total Amount: <b>{{totalPrice}}$</b></h3>
        <h4>Payment Method: <b>Pay on delivery</b></h4>
      </div>
    </div>
  </div>
  </div>
</div>
